<!-- 继承父模板 '__base__.html' -->
{% extends '__base__.html' %}
<!--jinja2 title 块内容替换-->
{% block title %}Users{% endblock %}
<!--jinja2 beforehead 块内容替换-->
{% block beforehead %}
<!--script中构建vue,向后端API提交用户管理操作相关数据-->

<script>

function initVM(data) {
    $('#vm').show();
    var vm = new Vue({
        el: '#vm',
        data: {
            users: data.users,
            page: data.page
        },
        methods: {
            previous: function () {
                gotoPage(this.page.page_index - 1);
            },
            next: function () {
                gotoPage(this.page.page_index + 1);
            },
            delete_user: function (user) {
                if (confirm('Do you want to delete ' + user.name + '”？Can not be restored！')) {
                    postJSON('/api/users/' + user.id + '/delete', function (err, r) {
                        if (err) {
                            return error(err);
                        }
                        refresh();
                    });
                }
            }
        }
    });
}

$(function() {
    getJSON('/api/users', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});

</script>

{% endblock %}

<!--jinja2 content 块内容替换-->
{% block content %}
    <div class="uk-grid">
    <div class="uk-width-1-1 uk-margin-bottom">
        <ul class="uk-breadcrumb">
            <li><a href="/manage/comments">Comments</a></li>
            <li><a href="/manage/blogs">Articles</a></li>
            <li class="uk-active"><span>Users</span></li>
        </ul>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> Loading...</span>
    </div>

    <div id="vm" class="uk-width-1-1">
        <table class="uk-table uk-table-divider">
            <thead>
                <tr>
                    <th class="uk-table-expand uk-text-left">Name</th>
                    <th class="uk-text-left">Email</th>
                    <th class="uk-text-left">Created</th>
                    <th class="uk-text-left">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users">
                    <td>
                        <span v-text="user.name"></span>
                        <span v-if="user.admin" style="color:#d05">(admin)</span>
                    </td>
                    <td>
                        <a v-bind:href="`mailto:${user.email}`" v-text="user.email"></a>
                    </td>
                    <td>
                        <span v-text="user.created_at.toDateTime()"></span>
                    </td>
                    <td>
                        <a href="#0" v-on:click="delete_user(user)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="uk-width-1-1 uk-text-center">
        <ul class="uk-pagination">
            <li v-if="! page.has_previous" class="uk-disabled"><span><i uk-icon="chevron-left"></i></span></li>
            <li v-if="page.has_previous"><a v-on:click="previous()" href="#0"><i uk-icon="chevron-left"></i></a></li>
            <li class="uk-active"><span v-text="page.page_index"></span></li>
            <li v-if="! page.has_next" class="uk-disabled"><span><i uk-icon="chevron-right"></i></span></li>
            <li v-if="page.has_next"><a v-on:click="next()" href="#0"><i uk-icon="chevron-right"></i></a></li>
        </ul>
        </div>
    </div>
    </div>

{% endblock %}